<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" class="scroll-smooth">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white text-gray-900 min-h-screen flex flex-col">
  {{ partial "header.html" . }}

  <main id="main-content" class="flex-1">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  <script src="{{ "js/main.js" | relURL }}" defer></script>
  {{- range .Site.Params.customJS }}
  <script src="{{ . | relURL }}" defer></script>
  {{- end }}
</body>
</html>
